<h1> Libros</h1>
<form>
    <input type="text" name="name" [(ngModel)]="inputName">
    <input type="text" name="author" [(ngModel)]="inputAuthor">
    <input type="text" name="author" [(ngModel)]="inputGenre">    
    <input type="submit" (click)="addBook()" value="Añadir libro">
</form>
<br>

<!--
<p>Libro registrado: {{ inputName}} {{ inputAuthor}} </p>

<ng-template *ngIf="hasRegistered">
<p >Libro registrado: {{ inputName}} {{ inputAuthor}} </p>
</ng-template>
-->

<ng-template *ngIf="hasRegistered">
  <p>Libro registrado: {{ inputName}} {{ inputAuthor}} </p>
</ng-template>


<p *ngIf="hasRegistered; else thenElse">
    <p>Libro registrado:{{ inputName}} {{ inputAuthor}}</p>
    <span [ngStyle]= "{color: (inputGenre=='Fantasia')? 'red':''}" > 
        {{inputGenre}}
   </span>

 <ng-template #thenElse>
      <p>Por favor dilegenciar libro !!!</p>
</ng-template>          

<!-- ngFor --> 

<ul>
    <li *ngFor="let book of books; let idx=index">
        {{idx+1}}. {{book.name}} {{book.author}}
        <span [ngClass] = "(book.genre=='Fantasia') ? 'highligthGenre' : ''">
            {{book.genre}} 
        </span>
                    
    </li>
</ul>

